div {
    border: 1px solid black;
    margin-bottom: 10px;
}
.h-left {
    text-align: left;
}

.h-center {
    text-align: center;
}

.h-right {
    text-align: right;
}

p {
    line-height: 14px;
    font-size: 13px;
}

p.cl1 {
    line-height: 1.5em;
}

p.cl2 {
    /*chrome 最小是12px，所以字体大小会是12px*/
    font-size: 10px;
    line-height: 150%;
}

span.raise {
    vertical-align: sub;
}

span.lower {
    vertical-align: super;
}